.burger {
  position: absolute;
  top: 1.1rem;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;

  &:focus {
    outline: none;
    color: $primary-color;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &__layer {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;

    &.opened {
      background-color: $burger-icon-close;
    }

    &.closed {
      background: $burger-icon-open;
    }

    &:first-child.opened {
      transform: rotate(45deg);
    }
    &:nth-child(2).opened {
      opacity: 0;
      transform: translateX(20px);
    }
    &:nth-child(3).opened {
      transform: rotate(-45deg);
    }

    &:first-child {
      transform: rotate(0);
    }
    &:nth-child(2) {
      opacity: 1;
      transform: translateX(0);
    }
    &:nth-child(3) {
      transform: rotate(0);
    }
  }
}

@media (min-width: $sm) {
  .burger {
    display: none;
  }
}
