.button {
  background-color: $background;
  border: 1px solid $primary-color;
  color: $primary-color;
  max-width: max-content;
  padding: 12px 18px;
  text-decoration: none;

  &:hover {
    border: 1px solid $tertiary-color;
    color: $tertiary-color;
  }

  &:focus {
    outline: none;
  }
}
