.card {
  background-color: $background-card;
  border-radius: 6px;
  padding: 1rem;

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    margin-top: 0.5rem;
  }

  &__title {
    color: $subtitle-color;
    font-family: Righteous;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__description {
    font-weight: 500;
    height: 10rem;
    line-height: 24px;
    max-height: 10rem;
    margin-top: 1.5rem;
  }

  &__tags {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__tag {
    display: inline-block;
    font-family: "Fira Code";
    font-size: 14px;
    margin: 0 14px 0 0;
  }
}

@media (min-width: $lg) {
  .card__description {
    height: 10rem;
    max-height: 12rem;
  }
}

@media (min-width: $xl) {
  .card__description {
    height: 12rem;
    max-height: 14rem;
  }
}
