// Menu -> index.js
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #effffa;
  height: 100vh;
  padding: 0rem 4rem;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);

  &__item {
    color: #0d0c1d;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    padding: 2rem 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s linear;

    &:hover {
      color: #343078;
    }
  }

  &.open {
    transform: translateX(0);
  }
}

@media (max-width: 576px) {
  .menu {
    width: 100%;

    &__item {
      font-size: 1.5rem;
      text-align: center;
    }
  }
}
