// Background Colors
$background: #050e1b;
$background-card: #102135;
$background-menu: #d3f7fa;
$background-pill: #102135;

// Text Colors
$primary-color: #00c6ba;
$secondary-color: #7cf0e9;
$tertiary-color: #0decb5;

$title-color: #fff;
$subtitle-color: #ccd6f6;
$text-color: #8390b5;

$logo: #fff;
$burger-icon-open: #fff;
$burger-icon-close: #000;
$menu-item: #050e1b;
$menu-item-hover: $secondary-color;

$background-text-stroke: #212932;
$section-title: #ccd6f6;
$pill-text: #ccd6f6;

// Font
$font-family: "Fira Sans", sans-serif;
$font-size: 16px;

// Box shadow
$card-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

// Scrollbar
$scrollbar-background: #010407;
$scrollbar-foreground: #0f2641;

// Break points
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1440px;
$xxl: 2560px;
