#projects {
  height: auto;
  margin-bottom: 10rem;
  padding-top: 4rem;
}

.card__list {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(1, minmax(1rem, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-bottom: 2rem;
  z-index: 5;
}

@media (min-width: $md) {
  .card__list {
    grid-template-columns: repeat(2, minmax(10rem, 1fr));
  }
}

@media (min-width: $xl) {
  .card__list {
    grid-template-columns: repeat(3, minmax(10rem, 1fr));
  }
}
