.skills {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(1, minmax(1rem, 1fr));
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-bottom: 3rem;

  &__type {
    color: $subtitle-color;
    font-family: Righteous;
    font-size: 24px;
    line-height: 30px;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
  }

  &__tag {
    background-color: $background-card;
    border-radius: 14px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-right: 14px;
    padding: 2px 14px;
    width: max-content;
  }
}

@media (min-width: $md) {
  .skills {
    grid-template-columns: repeat(2, minmax(1rem, 1fr));
    margin-top: 4rem;
  }
}
