.contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
  grid-auto-flow: row;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  &__message {
    font-family: "Fira Code";
    font-size: 18px;
    // grid-row: 1;
    line-height: 32px;
    margin: 0;
    text-align: justify;
  }

  &__email {
    grid-row: 2;
  }

  &__github {
    grid-row: 3;
  }

  &__resume {
    grid-row: 4;
  }

  &__email,
  &__github,
  &__resume {
    font-family: Righteous;
    margin-top: 2.5rem;
    margin-bottom: 0;
  }

  &__label {
    color: $subtitle-color;
    font-size: 1.1rem;
  }

  &__link {
    color: $primary-color;
    display: block;
    font-size: 1.5rem;
    line-height: 30px;
    margin-top: 0.25rem;
    text-decoration: none;
    transition: color 0.3s linear;
    width: max-content;
  }
}

@media (min-width: $md) {
  .contact {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    &__message {
      grid-column: 1 / 3;
    }

    &__email {
      grid-row: 2;
    }

    &__github {
      grid-row: 2;
    }

    &__link {
      font-size: 1.25rem;

      &:hover {
        color: $tertiary-color;
      }
    }
  }
}

@media (min-width: $lg) {
  .contact {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 4rem;

    &__message {
      grid-column: 1;
      grid-row: 1 / 3;
      text-align: start;
    }

    &__email {
      grid-column: 2;
      grid-row: 1;
    }

    &__github {
      grid-column: 2;
      grid-row: 2;
    }

    &__resume {
      grid-column: 2;
      margin: 0;
    }

    &__email,
    &__github {
      margin-top: 0;
      margin-bottom: 2rem;
    }
  }
}
