@import "./introduction";
@import "./project";
@import "./skill";
@import "./contact";

#projects,
#skills,
#contact {
  height: auto;
  min-height: 80vh;
  padding-top: 4.5rem;
}

@media (min-width: $md) {
  #projects {
    padding-top: 8vh;
  }

  #skills,
  #contact {
    padding-top: 10vh;
  }
}

@media (min-width: $lg) {
  #skills,
  #contact {
    padding-top: 20vh;
  }
}
