.button {
  background-color: $background-color;
  border: 1px solid $highlight-color;
  color: $highlight-color;
  padding: 12px 18px;
  text-decoration: none;
  max-width: max-content;

  &:focus {
    outline: none;
  }
}
