body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-foreground $scrollbar-background;
}
body::-webkit-scrollbar-track {
  background: $scrollbar-background;
}
body::-webkit-scrollbar-thumb {
  background-color: $scrollbar-foreground;
  border-radius: 6px;
  border: 3px solid $scrollbar-background;
}

html,
body {
  background-color: $background;
  font-family: $font-family;
  font-size: $font-size;
  color: $text-color;
  height: 100%;
  margin: 0;
}

.container {
  margin: auto 1.5rem;
  max-width: 1200px;
}

@media (min-width: $md) {
  .container {
    padding: 0 4rem;
  }
}

@media (min-width: $lg) {
  .container {
    padding: 0 6rem;
  }
}

@media (min-width: $xl) {
  .container {
    margin: auto;
    padding: 0 16rem;
  }
}

@media (min-width: $xxl) {
  .container {
    margin: auto;
  }
}
