// Background Colors
$background: #100e17;
$background-card: #1b1826;
$background-menu: #fff6f6;
$background-pill: #1b1826;

// Text Colors
$primary-color: #cf7663;
$secondary-color: #d9325d;
$tertiary-color: #f88c74;

$title-color: #fff;
$subtitle-color: #f2ecff;
$text-color: #ccd6f6;

$logo: #fff;
$burger-icon-open: #fff;
$burger-icon-close: #000;
$menu-item: #050e1b;
$menu-item-hover: #fff;

$background-text-stroke: #c5cee91a;
$section-title: #fff;
$pill-text: #ccd6f6;

// Font
$font-family: "Fira Sans", Sans-Serif;
$font-size: 16px;

// Box shadow
$card-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

// Scrollbar
$scrollbar-background: #030305;
$scrollbar-foreground: #884637;

// Break points
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1440px;
$xxl: 2560px;
