// Colors
$background-color: #050e1b;
$background-card-color: #102135;

$text-gradient: red;

$highlight-color: #00c6ba;

$title-color: #ccd6f6;
$text-color: #707a97;

// Font
$font-family: "Fira Sans", sans-serif;
$font-size: 16px;
$title: 1em;
$background-title: 1em;

// Border radius

// Break points
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1440px;
$xxl: 2560px;
