// Background Colors
$background: #100e17;
$background-card: #1b1826;
$background-menu: #ffe8e8;

// Text Colors
$primary-color: #cf7663;
$secondary-color: #d9325d;
$tertiary-color: #ec8872;

$title-color: #fff;
$subtitle-color: #f2ecff;
$text-color: #ccd6f6;

$background-text-stroke: #c5cee91a;
$section-title: #fff;
$menu-item: #050e1b;

// Font
$font-family: "Fira Sans", sans-serif;
$font-size: 16px;

// Scrollbar
$scrollbar-background: #030305;
$scrollbar-foreground: #884637;

// Break points
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1440px;
$xxl: 2560px;
